body {
    background-color: aquamarine;
    background-image: url(/fotos/inicio.avif);
    background-repeat: no-repeat;
    background-size: 100%;

}

h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-top: 100px;
}